<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Template</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="../../static/common/base.css">
    <link rel="stylesheet" href="list.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <script src="detail.js"></script>
  </head>
  <body>
		<div class="panel-heading">用户详情</div>
		
		<div class="panel-body">
			<form class="form-horizontal">
				<div class="form-group row" style="padding-top: 10px;">
					<div class="col-md-2 control-label" >用户名</div>
					<div class="col-md-8"><input type="text" class="form-control" disabled="disabled" id="name"></div>
					<div class="col-md-2"></div>
				</div>
				<div class="form-group row">
					<div class="col-md-2 control-label" >角色</div>
					<div class="col-md-8">
						<select class="form-control" id="roleselect">
							<option value="admin">user</option>
							<option value="admin">admin</option>
						</select>
					</div>
					<div class="col-md-2"></div>
				</div>
				<div class="form-group row">
					<div class="col-md-2 control-label" >描述</div>
					<div class="col-md-8"><textarea class="form-control" rows="3"></textarea></div>
					<div class="col-md-2"></div>
				</div>

				<div class="row"><div class="col-md-6"></div><div class="col-md-6"><button type="button" class="btn btn-default" id="modifyBtn">修改</button></div></div>
			</form>
		</div>
				
  </body>
</html>