<!DOCTYPE html>
<html lang="zh-CN">
<head>
<title>用户列表</title>
<link rel="stylesheet" href="list.css">
</head>
<body>
	<table class="table table-bordered"></table>
	<nav class="userpager">
		<ul class="pagination">
			<li><a href="#" aria-label="Previous"> <span aria-hidden="true">&laquo;</span></a></li>
			<li class="active"><a href="list.html?pg=1">1</a></li>
			<li><a href="list.html?pg=2">2</a></li>
			<li><a href="">3</a></li>
			<li><a href="">4</a></li>
			<li><a href="">5</a></li>
			<li><a href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span></a></li>
		</ul>
	</nav>
</body>
<jsIncludeFooter> <script src="list.js"></script> </jsIncludeFooter>
</html>